body{background-color: #000000;}
.bg-dark{background-color: #0f0f0f !important;}
.bg-per{background-color: #030303; /*020202*/}
.boton_per{width: 200px;}
#footer{height: 450px; background-color: #000000;}
.login{background: #f2f2f2; height: 950px;}
.noticias{
    height: 350px;
}

.bg-productos{
    background-color: #f1f1f2;
}

.bg-productos img{
    width: 100%;
}

/*  Responsive Breakpoints   */
@media (min-width: 350px){
    .centrar{
        text-align: center;
    }
    .no-display{
        display: none;
    }
    .invertir-flex{
        flex-direction: row-reverse;
    }
}
@media (min-width: 992px){
    .centrar{
        text-align: left;
    }
    .no-display{
        display: inline;
    }
    .images div img{
    max-height: 300px;
    }
}